<div class="container">
	<div class="row">
		<div class="span9">
			<div class="well">
				<%= render 'shared/error', object: @user %>
				<div class="offset3">
					<%= render 'form' %>
				</div>
			</div>
		</div>

		<div class="span3">
			<div class="well">
				<%= gravatar_for @user %><br><br>
    			<a href="http://gravatar.com/emails"><%= t('.edit_gravatar') %></a>
			</div>
		</div>
	</div>
</div>