<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<div class="well">
				<%= render 'shared/error', object: @user %>
				<%= render 'form' %>
			</div>
		</div>

		<div class="col-md-3">
			<div class="well">
				<%= gravatar_for @user %><br><br>
    			<a href="http://gravatar.com/emails"><%= t('.edit_gravatar') %></a>
			</div>
		</div>
	</div>
</div>