<div class="well well-small">
 	<small>本站支持<%= link_to 'Github Flavored Markdown', "https://help.github.com/articles/github-flavored-markdown" %></small>
 	<small>常用语法:
	 	<ul>
	 		<li> *斜体*, **粗体**, ~~删除线~~ </li>
	 		<li> > 引用 </li>
	 		<li> `单行代码` </li>
	 	</ul>
	</small>
</div>