<h3>All Posts</h3>
<div class="container">
	<div class="row">
		<div class="span9">
			<div class="well">
				<% @post.each do |post| %>
					<p>
						<%= link_to "#{post.title}", post_path(post) %><br>
						<hr>
					</p>
				<% end %>
			</div>
		</div>

		<div class="span3">
			sidebar<br>
			<a href="/posts/new", class="btn btn-success">发布新帖</a>
		</div>


	</div>
</div>






