<h3><%= @category.name %></h3><hr>
<div class="container">
	<div class="row">
		<div class="span9">
			<div class="well">
				<%= render 'shared/posts', object: @posts %>
				<%= paginate @posts %>
			</div>
		</div>

		<div class="span3">
			<%= render 'layouts/sidebar' %>
		</div>


	</div>
</div>