<div class="container">
	<h4><%= @category.name %></h4><hr>
	<div class="row">
		<div class="col-md-9">
			<div class="well">
				<div id="posts">
					<%= render 'shared/posts', object: @posts %>
				</div>
				<div id="paginator">
					<%= paginate @posts, remote: true %>
				</div>
			</div>
		</div>

		<div class="col-md-3">
			<%= render 'layouts/sidebar' %>
		</div>


	</div>
</div>