<footer class="footer">
	<small>
		<%= link_to '创业汇', root_path %> -- 可能是最好的创业文摘
	</small>
	<nav>
		<ul>
			<li><%= link_to 'About',    '#' %></li>
			<li><%= link_to 'Github', 'https://github.com/lawrencesun/startup_digest' %></li>
		</ul>
	</nav>
</footer>